.plug-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #DAF7A6;
  padding: 12px 24px;
  border-radius: 8px;

  > p {
    margin-top: 0;
    font-size: 16px;

    &.plug-title {
      font-weight: 500;
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: unset;
    margin: unset;

    @media screen and (min-width: 768px) {
      flex-direction: row;

      > li {
        &:not(:last-of-type)::after {
          display: inline-block;
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }
}
